.tag {
  color: var(--color-primary-txt);
  font-family: Geneva, Verdana, sans-serif;
  margin: 0 0 4em 4.5em;
}

.attract-lines {
  margin: 2em 0 1.4em 0.25em;
}

p {
  font-size: 0.7rem;
  font-weight: 500;
  color: rgb(91, 91, 91);
  line-height: 1.5;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  background-image: linear-gradient(90deg, var(--color-primary), blue);
  background-clip: text;
  color: transparent;
}

.btn {
  cursor: pointer;
  background-color: var(--color-bg);
  padding: 0.8em 2em;
  border-radius: 0.3em;
  margin-right: 3em;
  margin-left: 0.25em;
  border: 0.1rem solid var(--color-primary);
  font-family: "Josefin Sans", sans-serif;
}

.btn:hover {
  background-color: var(--color-primary);
}

a {
  position: relative;
  right: 1.6em;
  top: 0.3em;
  font-size: 0.8rem;
}
