.header__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--color-hd);
  height: 10.2vh;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding-right: 2em;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3.5rem;
}
