@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --color-hd: rgb(250, 250, 250);
  --color-bg: rgb(252, 252, 252);
  --color-primary: hsl(195, 60%, 75%);
  --color-primary-txt: rgb(39, 39, 39);
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}
